@model PrimeHtt.Models.AboutUs

@{
    ViewBag.Title = "AboutUsReadMore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center; margin-top: 100px;">
    @Html.Raw(Model.AboutUsTitle)
</h1>

<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col-md-12 aboutContent">
            @Html.Raw(Model.AboutUsTopDescription)
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <img src="@Model.AboutUsImage" style="width: 90%;"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 aboutContent" style="">
            @Html.Raw(Model.AboutUsBottomDescription)
        </div>
    </div>
</div>