@model PrimeHtt.Models.ViewModel.AddReservationContact
@{
    ViewBag.Title = "AddReservationContact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <h1 class="page-header">Add New Contact</h1>
</div>

<form id="AddReservationContact" name="AddReservationContact" method="post">
    <div class="row">
        @*<div class="col-md-12 col-lg-6 col-lg-offset-3">
            <h1 class="page-header">Add Reservation Contact</h1>
        </div>*@
        <div class="col-md-12 col-lg-6 col-lg-offset-3">
            <div class="form-group">
                <label for="ReservationTitle">Title</label>
                <input type="text" id="ReservationTitle" name="ReservationTitle" class="form-control" placeholder="Enter Reservation Title" value="@Model.ReservationTitle" />
                @Html.ValidationMessageFor(e => e.ReservationTitle)
            </div>
            <div class="form-group">
                <label for="ContactNumber">Contact Number</label>
                <input type="text" id="ContactNumber" name="ContactNumber" class="form-control" placeholder="Enter Contact Number" value="@Model.ContactNumber" />
                @Html.ValidationMessageFor(e => e.ContactNumber)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-9">
            <button type="submit" class="btn btn-primary pull-right">Add New Contact</button>
        </div>
    </div>
</form>