
@{
    ViewBag.Title = "UpdateAccount";
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>

<body style="background-color: #f7f7f7;">
<div class="row">
    <div style="padding: 20px; background-color: white; margin-top: 30px;" class="col-md-6 col-md-offset-3">
        <h1 style="margin-top: 50px; color: #bdc3c7; text-align: center; font-size: 50px;">Update Account</h1>
        <p style="text-align: center; font-size: 18px; margin-top: -10px;">Update Account successfully.</p>
        <div style="text-align: center; margin-top: -20px;">
            <a href="/Admin/Login" class="btn" style="border: #35aeff 1px solid; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 20px 2px; cursor: pointer; border-radius: 10px; background: #0a96f7; color: #fff; width: 180px;">LOGIN</a>
        </div>

    </div>
</div>


</body>